<article class="full">
<header>
<time datetime="{ $date }">{ $date; }</time>
<h2><a href="{ $url; }">{ $title; }</a></h2>
</header>
<div>
{
  # ignore paragraph breaks
  join "\n", map {
    # do not render the READ MORE break
    if ($_ eq '-READ MORE-') {
       ''
    # if the paragraph is in angle brackets, write it down verbatim
    } elsif (((substr $_, 0, 1) eq '<') and
             ((substr $_, -1) eq '>')) {
      $_;
    # otherwise wrap it in a paragraph tag
    } else {
      "<p>$_</p>";
    }
  } @body;
}
</div>
</article>