*, *:before, *:after {
    box-sizing: inherit;
}

body {
    box-sizing: border-box;
    
    margin: 0 auto;
    padding: 0 8%;
    
    color: #111;
    background-color: #fff;
    font-family: 'Noto Serif', serif;
    font-smooth: never;

    min-height: 100vh;
    max-width: 1080px;

    position: relative;
    padding-bottom: 2em;
}

a:link {
    color: #111;
    text-decoration: underline;
}
a:visited {
    color: #111;
}
a:hover {
    text-decoration: none;
}

body > header {
    padding-top: 1ex;
}
body > header h1 {
    /* logo; maybe replace with image later. */
    font-family: 'Outfit', sans-serif;
}
body > header > a:link {
    text-decoration: none;
}

main > h2 {
}

.read-more a {
    /* font-family: 'Outfit', sans-serif; */
}

time {
    /* font-family: 'Outfit', sans-serif;   */
}

article {
    position: relative;
    margin-bottom: 3ex;
}

article.para > header > h3 {
    margin-top: 0ex;
}
article.para > header > time {
    font-size: small;
}

article.full > header > h2 {
    margin-bottom: 0.5ex;
}

ul#archive {
    display: table;
}
ul#archive li {
    display: table-row;
}
ul#archive li time {
    display: table-cell;
    text-align: right;
    padding-right: 1em;
}
ul#archive li a {
    display: table-cell;
    padding: 1ex 0;

    font-weight: bold;
}

body > footer {
    text-align: center;
    height: 2em;

    font-size: small;
    /* font-family: 'Outfit', sans-serif; */
    
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
