*, *:before, *:after {
    box-sizing: inherit;
}

body {
    box-sizing: border-box;
    
    margin: 0 auto;
    padding: 0 8%;
    
    color: #222;
    background-color: #fff;
    font-family: 'Noto Serif', serif;
    font-smooth: never;

    min-height: 100vh;
    max-width: 1080px;

    position: relative;
    padding-bottom: 2em;
}

a:link {
    color: #222;
    text-decoration: underline;
}
a:visited {
    color: #222;
}
a:hover {
    text-decoration: none;
}

body > header {
    padding-top: 1em;
}
body > header h1 {
    display: inline;
    font-size: 1em;
    /* logo; maybe replace with image later. */
    /* font-family: 'Outfit', sans-serif; */
}
body > header > a:link {
    text-decoration: none;
}

/* navigation bar */
body > header > nav {
    display: inline;
}
body > header > nav > ul {
    display: inline;
}
body > header > nav > ul > li {
    display: inline;
    padding-left: 0.4em;
}

/* page label */
main > h2 {
    font-size: 1em;
}
main > h2::after {
    content: " ↓";
}

.read-more a {
    font-family: monospace;
}

time {
    font-family: monospace;
}

article {
    position: relative;
    margin-bottom: 1em;
}

/* article summary on timeline: */
article.para > header > h3 {
    font-size: 1em;
    margin-top: 0;
    margin-bottom: 0.75em;
}

/* single article on page: */
article.full > header > h2 {
    font-size: 1em;
    margin-top: 0;
    margin-bottom: 0.75em;
}
article.full {
    margin-top: 1em;
}

ul#archive {
    display: table;
}
ul#archive li {
    display: table-row;
}
ul#archive li time {
    display: table-cell;
    text-align: right;
    padding-right: 1em;
}
ul#archive li a {
    display: table-cell;
    padding: 1ex 0;

    font-weight: bold;
}

body > footer {
    text-align: center;
    height: 2em;

    font-size: small;
    /* font-family: 'Outfit', sans-serif; */
    
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
